/* Large Devices, Wide Screens */

@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1280px) {}


/*======================================================================*/

@media only screen and (max-width: 1024px) {}


/*======================================================================*/

@media only screen and (max-width: 992px) {
    .content-left-wrapper {
        width: 100%;
    }
    .content-middle-wrapper{
        width: 100%;
    }
    .content-right-wrapper{
        width: 100%;
    }
}


/*======================================================================*/

@media only screen and (max-width: 768px) {
    .news-thumb img{
        height: auto;
    }
}


/*======================================================================*/


/* Extra Small Devices, Phones */

@media only screen and (max-width: 640px) {
    ul.footer-menu li {
        display: block;
        margin-bottom: 10px;
    }
    ul.footer-menu li:last-child{
        margin-bottom: 0;
    }
}


/*======================================================================*/


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/*======================================================================*/


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}